USE [master]
GO
/****** Object:  Database [Info360]    Script Date: 4/11/2025 12:05:12 ******/
CREATE DATABASE [Info360]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Info360', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Info360.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Info360_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Info360_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Info360].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Info360]
GO
/****** Object:  User [alumno]    Script Date: 4/11/2025 12:05:12 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Calendarios]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[momento] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Calendarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalendariosRecetas]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendariosRecetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCalendario] [int] NOT NULL,
	[idReceta] [int] NOT NULL,
 CONSTRAINT [PK_CalendariosRecetas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idReceta] [int] NOT NULL,
 CONSTRAINT [PK_Favoritos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Heladeras]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heladeras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idIngrediente] [int] NOT NULL,
 CONSTRAINT [PK_Heladeras] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medida] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferencias]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[preferencia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Preferencias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recetas]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[urlFoto] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Recetas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecetasIngredientes]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecetasIngredientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idReceta] [int] NOT NULL,
	[idIngrediente] [int] NOT NULL,
 CONSTRAINT [PK_RecetasIngredientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restricciones]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restricciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[restriccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Restricciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosPreferencias]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosPreferencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idPreferencia] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosPreferencias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRestricciones]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRestricciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idRestricciones] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosRestricciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calendarios] ON 

INSERT [dbo].[Calendarios] ([id], [fecha], [momento], [idUsuario]) VALUES (1, CAST(N'2025-11-01' AS Date), N'Desayuno', 1)
INSERT [dbo].[Calendarios] ([id], [fecha], [momento], [idUsuario]) VALUES (2, CAST(N'2025-11-01' AS Date), N'Almuerzo', 1)
INSERT [dbo].[Calendarios] ([id], [fecha], [momento], [idUsuario]) VALUES (3, CAST(N'2025-11-01' AS Date), N'Cena', 1)
SET IDENTITY_INSERT [dbo].[Calendarios] OFF
GO
SET IDENTITY_INSERT [dbo].[CalendariosRecetas] ON 

INSERT [dbo].[CalendariosRecetas] ([id], [idCalendario], [idReceta]) VALUES (13, 3, 8)
INSERT [dbo].[CalendariosRecetas] ([id], [idCalendario], [idReceta]) VALUES (16, 6, 5)
INSERT [dbo].[CalendariosRecetas] ([id], [idCalendario], [idReceta]) VALUES (17, 7, 7)
SET IDENTITY_INSERT [dbo].[CalendariosRecetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Favoritos] ON 

INSERT [dbo].[Favoritos] ([id], [idUsuario], [idReceta]) VALUES (1, 1, 4)
INSERT [dbo].[Favoritos] ([id], [idUsuario], [idReceta]) VALUES (2, 1, 7)
INSERT [dbo].[Favoritos] ([id], [idUsuario], [idReceta]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[Favoritos] OFF
GO
SET IDENTITY_INSERT [dbo].[Heladeras] ON 

INSERT [dbo].[Heladeras] ([id], [idUsuario], [idIngrediente]) VALUES (9, 1, 1)
INSERT [dbo].[Heladeras] ([id], [idUsuario], [idIngrediente]) VALUES (10, 1, 2)
INSERT [dbo].[Heladeras] ([id], [idUsuario], [idIngrediente]) VALUES (11, 1, 3)
SET IDENTITY_INSERT [dbo].[Heladeras] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredientes] ON 

INSERT [dbo].[Ingredientes] ([id], [medida], [precio]) VALUES (1, N'Harina (kg)', 1200)
INSERT [dbo].[Ingredientes] ([id], [medida], [precio]) VALUES (2, N'Azúcar (kg)', 1100)
INSERT [dbo].[Ingredientes] ([id], [medida], [precio]) VALUES (3, N'Huevo (unidad)', 90)
SET IDENTITY_INSERT [dbo].[Ingredientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Preferencias] ON 

INSERT [dbo].[Preferencias] ([id], [preferencia]) VALUES (1, N'Vegetariano')
INSERT [dbo].[Preferencias] ([id], [preferencia]) VALUES (2, N'Vegano')
INSERT [dbo].[Preferencias] ([id], [preferencia]) VALUES (3, N'Sin picante')
SET IDENTITY_INSERT [dbo].[Preferencias] OFF
GO
SET IDENTITY_INSERT [dbo].[Recetas] ON 

INSERT [dbo].[Recetas] ([id], [nombre], [descripcion], [urlFoto]) VALUES (1, N'Tarta de verduras', N'Tarta simple al horno', N'https://cdn0.uncomo.com/es/posts/5/8/8/como_hacer_tarta_de_verdura_36885_orig.jpg')
INSERT [dbo].[Recetas] ([id], [nombre], [descripcion], [urlFoto]) VALUES (2, N'Pollo al horno', N'Pollo con hierbas y limón', N'https://imagenes.elpais.com/resizer/v2/4HWUG3I7PVA7VKAWLQVCBUL4E4.jpg?auth=114b5a92f5b098e2c67d9642883a4e7a3010b6020bac133f60f1c766f565b78f&width=1200')
INSERT [dbo].[Recetas] ([id], [nombre], [descripcion], [urlFoto]) VALUES (3, N'Arroz con pollo', N'Clásico y rendidor', N'https://www.recetasnestle.com.ve/sites/default/files/styles/recipe_detail_desktop_new/public/srh_recipes/abca4d5b6e6c7e97ece98ed0faaeb211.png?itok=tXIPmPYV')
SET IDENTITY_INSERT [dbo].[Recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[RecetasIngredientes] ON 

INSERT [dbo].[RecetasIngredientes] ([id], [idReceta], [idIngrediente]) VALUES (1, 1, 1)
INSERT [dbo].[RecetasIngredientes] ([id], [idReceta], [idIngrediente]) VALUES (2, 1, 3)
INSERT [dbo].[RecetasIngredientes] ([id], [idReceta], [idIngrediente]) VALUES (3, 1, 7)
SET IDENTITY_INSERT [dbo].[RecetasIngredientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Restricciones] ON 

INSERT [dbo].[Restricciones] ([id], [restriccion]) VALUES (1, N'Celiaquía')
INSERT [dbo].[Restricciones] ([id], [restriccion]) VALUES (2, N'Intolerancia a la lactosa')
INSERT [dbo].[Restricciones] ([id], [restriccion]) VALUES (3, N'Alergia al maní')
SET IDENTITY_INSERT [dbo].[Restricciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombre], [apellido], [email], [contraseña], [edad]) VALUES (1, N'Lucía', N'Gómez', N'lucia.gomez@example.com', N'lucia#2025', 28)
INSERT [dbo].[Usuarios] ([id], [nombre], [apellido], [email], [contraseña], [edad]) VALUES (2, N'Martín', N'Pérez', N'martin.perez@example.com', N'martin#2025', 34)
INSERT [dbo].[Usuarios] ([id], [nombre], [apellido], [email], [contraseña], [edad]) VALUES (3, N'Sofía', N'López', N'sofia.lopez@example.com', N'sofia#2025', 22)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosPreferencias] ON 

INSERT [dbo].[UsuariosPreferencias] ([id], [idUsuario], [idPreferencia]) VALUES (1, 1, 8)
INSERT [dbo].[UsuariosPreferencias] ([id], [idUsuario], [idPreferencia]) VALUES (2, 1, 5)
INSERT [dbo].[UsuariosPreferencias] ([id], [idUsuario], [idPreferencia]) VALUES (3, 2, 4)
SET IDENTITY_INSERT [dbo].[UsuariosPreferencias] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosRestricciones] ON 

INSERT [dbo].[UsuariosRestricciones] ([id], [idUsuario], [idRestricciones]) VALUES (1, 1, 2)
INSERT [dbo].[UsuariosRestricciones] ([id], [idUsuario], [idRestricciones]) VALUES (2, 2, 4)
INSERT [dbo].[UsuariosRestricciones] ([id], [idUsuario], [idRestricciones]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[UsuariosRestricciones] OFF
GO
ALTER TABLE [dbo].[Calendarios]  WITH CHECK ADD  CONSTRAINT [FK_Calendarios_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Calendarios] CHECK CONSTRAINT [FK_Calendarios_Usuarios]
GO
ALTER TABLE [dbo].[CalendariosRecetas]  WITH CHECK ADD  CONSTRAINT [FK_CalendariosRecetas_Calendarios] FOREIGN KEY([idCalendario])
REFERENCES [dbo].[Calendarios] ([id])
GO
ALTER TABLE [dbo].[CalendariosRecetas] CHECK CONSTRAINT [FK_CalendariosRecetas_Calendarios]
GO
ALTER TABLE [dbo].[CalendariosRecetas]  WITH CHECK ADD  CONSTRAINT [FK_CalendariosRecetas_Recetas] FOREIGN KEY([idReceta])
REFERENCES [dbo].[Recetas] ([id])
GO
ALTER TABLE [dbo].[CalendariosRecetas] CHECK CONSTRAINT [FK_CalendariosRecetas_Recetas]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Recetas] FOREIGN KEY([idReceta])
REFERENCES [dbo].[Recetas] ([id])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Recetas]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuarios]
GO
ALTER TABLE [dbo].[Heladeras]  WITH CHECK ADD  CONSTRAINT [FK_Heladeras_Ingredientes] FOREIGN KEY([idIngrediente])
REFERENCES [dbo].[Ingredientes] ([id])
GO
ALTER TABLE [dbo].[Heladeras] CHECK CONSTRAINT [FK_Heladeras_Ingredientes]
GO
ALTER TABLE [dbo].[Heladeras]  WITH CHECK ADD  CONSTRAINT [FK_Heladeras_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Heladeras] CHECK CONSTRAINT [FK_Heladeras_Usuarios]
GO
ALTER TABLE [dbo].[RecetasIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_RecetasIngredientes_Ingredientes] FOREIGN KEY([idIngrediente])
REFERENCES [dbo].[Ingredientes] ([id])
GO
ALTER TABLE [dbo].[RecetasIngredientes] CHECK CONSTRAINT [FK_RecetasIngredientes_Ingredientes]
GO
ALTER TABLE [dbo].[RecetasIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_RecetasIngredientes_Recetas] FOREIGN KEY([idReceta])
REFERENCES [dbo].[Recetas] ([id])
GO
ALTER TABLE [dbo].[RecetasIngredientes] CHECK CONSTRAINT [FK_RecetasIngredientes_Recetas]
GO
ALTER TABLE [dbo].[UsuariosPreferencias]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPreferencias_Preferencias] FOREIGN KEY([idPreferencia])
REFERENCES [dbo].[Preferencias] ([id])
GO
ALTER TABLE [dbo].[UsuariosPreferencias] CHECK CONSTRAINT [FK_UsuariosPreferencias_Preferencias]
GO
ALTER TABLE [dbo].[UsuariosPreferencias]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPreferencias_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[UsuariosPreferencias] CHECK CONSTRAINT [FK_UsuariosPreferencias_Usuarios]
GO
ALTER TABLE [dbo].[UsuariosRestricciones]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRestricciones_Restricciones] FOREIGN KEY([idRestricciones])
REFERENCES [dbo].[Restricciones] ([id])
GO
ALTER TABLE [dbo].[UsuariosRestricciones] CHECK CONSTRAINT [FK_UsuariosRestricciones_Restricciones]
GO
ALTER TABLE [dbo].[UsuariosRestricciones]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRestricciones_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[UsuariosRestricciones] CHECK CONSTRAINT [FK_UsuariosRestricciones_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[sp__BuscarRestricciones]    Script Date: 4/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp__BuscarRestricciones]
	@idUsuario int
AS
BEGIN
	SELECT DISTINCT Restricciones.restriccion FROM Restricciones INNER JOIN UsuariosRestricciones ON Restricciones.id = UsuariosRestricciones.idRestricciones INNER JOIN Usuarios ON UsuariosRestricciones.idUsuario = @idUsuario;
END
GO
USE [master]
GO
