@{
    ViewData["Title"] = "agregarIngrediente";
}

<div class="agregar-container">

    <div class="search-bar">
        <input type="text" placeholder="Buscar" />
        <button class="btn-buscar">→</button>
    </div>

    <div class="ingredientes-grid">
        @foreach(Receta receta in ViewBag.recetas)
        {
            <div class="ingrediente-card">
                <img src="@receta.urlFoto" />
                <div class="ingrediente-footer">
                    <span>@receta.nombre</span>
                    <button class="btn-add">＋</button>
                </div>
            </div>
        }
    </div>

</div>
