  <main class="main-section">

    <div class="main-hero">
      <img src="../assets/comida.jpg" alt="Comida saludable">
      <div class="hero-text">
        <h2>Comer bien<br><span>nunca fue tan fácil @ViewBag.usuario.nombre</span></h2>
      </div>
    </div>

    <div class="features">
      <div class="feature">
        <div class="icon"><i class="bi bi-calendar3"></i></div>
        <div class="text">
          <h4>Calendario</h4>
          <p>Organizá tu semana según tu alimentación.</p>
          <a href='@Url.Action("verCalendario", "Home")'>Ver Calendario</a>
        </div>
      </div>

      <div class="feature">
        <div class="icon"><i class="bi bi-cart4"></i></div>
        <div class="text">
          <h4>Lista de Compras</h4>
          <p>Te damos una lista de productos para comprar fácilmente.</p>
        </div>
      </div>

      <div class="feature">
        <div class="icon"><i class="bi bi-egg-fill"></i></div>
        <div class="text">
          <h4>Heladera Virtual</h4>
          <p>Conocé lo que tenés y obtené recomendaciones automáticas.</p>
        </div>
      </div>
    </div>
  </main>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
