@{
    ViewData["Title"] = "infoReceta";
}
@{
    ViewData["Title"] = "Detalle de Receta";
}



<div class="detalle-receta">

    
    <button class="btn-volver">←</button>

    
    <h1 class="titulo-receta">Ravioles de Ricota</h1>

    
    <img src=@ViewBag.recetas[0].urlFoto alt="Ravioles de Ricota" class="imagen-receta" />

    
    <div class="contenido">
        <h3>INGREDIENTES</h3>
        <ul>
            <li>500g de harina</li>
            <li>4 yemas</li>
            <li>1 cdta. de sal</li>
            <li>1/4 de taza de agua tibia</li>
            <li>1 cdta. de aceite de oliva</li>
        </ul>

        <h3>ELABORACIÓN</h3>
        <ul class="pasos">
            <li>Colocar en un bowl 1 huevo con una cucharada de aceite y sal a gusto e ir agregando la premezcla hasta formar la masa.</li>
            <li>Para el relleno, hervir la media pechuga con una ramita de romero y sal gruesa. Hervir también una zanahoria y una cebolla. Procesar.</li>
        </ul>
    </div>

</div>
