@{
    ViewData["Title"] = "Login";
}

<section class="heroLogin">
  <img src="assets/comida.jpg" alt="Comida saludable">
  <div class="heroLogin-text">Bienvenido</div>
</section>

<main class="login-container">
  <form id="form" method="POST" action='@Url.Action("Login", "Home")' enctype="multipart/form-data">
    <div class="input-group">
      <i class="bi bi-envelope"></i>
      <input type="email" placeholder="Email" name="email" required>
    </div>

    <div class="input-group">
      <i class="bi bi-lock"></i>
      <input type="password" placeholder="Contraseña" name="contraseña" required>
    </div>

    <button type="submit" class="btn-login">Inicia Sesión</button>

    <p class="register-text">¿No tienes cuenta? <a href="#">Regístrate</a></p>
  </form>
</main>

