@{
    ViewData["Title"] = "recetas";
}

<main>
  <div class="buscador">
    <input type="text" placeholder= "Buscar receta"/>
    <button><i class="bi bi-funnel"></i> Filtrar</button>
  </div>

  <section class="recetasExplorer">

    @foreach(Receta receta in @ViewBag.recetas){
      
      <div class="tarjeta">
        <img src="@receta.urlFoto" />
        <div class="contenido">
          <h1>@receta.nombre</h1>
          <p><span>Descripcion:</span><br> @receta.descripcion</p>
          <div class="acciones">
            <div class="iconos">
              <i class="bi bi-heart"></i>
              <i class="bi bi-share"></i>
            </div>
            <button class="btn-agregar">Agregar</button>
          </div>
        </div>
      </div>
    }
  </section>
</main>