<main>
  <div class="buscador">
    <input type="text" placeholder= "Buscar receta"/>
    <button><i class="bi bi-funnel"></i> Filtrar</button>
  </div>

<section class="recetasExplorer">

  <div class="tarjeta">
    <img src="assets/polloteriyaki.jpg" alt="Fideos teriyaki" />
    <div class="contenido">
        <h1>Fideos teriyaki</h1>
      <p><span>Detalles:</span><br>Cal: 195 Kcal | Grasas: 10g | Carbohidratos: 50g</p>
      <p><span>Info:</span><br>Fideos a la teriyaki con pollo, morrón, pak choi y cebolla.</p>
      <p class="autor">Receta de: <span>Carolina</span></p>
      <div class="acciones">
        <div class="iconos">
          <i class="bi bi-heart"></i>
          <i class="bi bi-share"></i>
        </div>
        <button class="btn-agregar">Agregar</button>
      </div>
    </div>
  </div>

  <div class="tarjeta">
    <img src="assets/pizza.jpg" alt="Pizza napolitana" />
    <div class="contenido">
        <h1>Pizza napolitana</h1>
      <p><span>Detalles:</span><br>Cal: 370 Kcal | Grasas: 20g | Carbohidratos: 42g</p>
      <p><span>Info:</span><br>Pizza napolitana con albahaca fresca y queso parmesano.</p>
      <p class="autor">Receta de: <span>Salvatore</span></p>
      <div class="acciones">
        <div class="iconos">
          <i class="bi bi-heart"></i>
          <i class="bi bi-share"></i>
        </div>
        <button class="btn-agregar">Agregar</button>
      </div>
    </div>
  </div>

  <div class="tarjeta">
    <img src="assets/milanesa.jpg" alt="Milanesa al horno" />
    <div class="contenido">
        <h1>Milanesa de Carne</h1>
      <p><span>Detalles:</span><br>Cal: 350 Kcal | Grasas: 15g | Carbohidratos: 50g</p>
      <p><span>Info:</span><br>Milanesa de carne al horno con papas y cebolla.</p>
      <p class="autor">Receta de: <span>Gastón</span></p>
      <div class="acciones">
        <div class="iconos">
          <i class="bi bi-heart"></i>
          <i class="bi bi-share"></i>
        </div>
        <button class="btn-agregar">Agregar</button>
      </div>
    </div>
  </div>

  <div class="tarjeta">
    <img src="assets/papas.jpg" alt="Huevos con papa" />
    <div class="contenido">
    <h1>Huevos al horno</h1>
      <p><span>Detalles:</span><br>Cal: 225 Kcal | Grasas: 14g | Carbohidratos: 17g</p>
      <p><span>Info:</span><br>Huevos al horno con papa y cebolla.</p>
      <p class="autor">Receta de: <span>Pauli</span></p>
      <div class="acciones">
        <div class="iconos">
          <i class="bi bi-heart"></i>
          <i class="bi bi-share"></i>
        </div>
        <button class="btn-agregar">Agregar</button>
      </div>
    </div>
  </div>
</section>
</main>