<main>
<!-- HERO -->
    <div class=""></div>

    <img src="assets/comida.jpg">

    <!-- TÍTULO -->
    <div class="titulo">Mi cuenta</div>

    <!-- FORMULARIO -->
    <div class="container mt-3" style="max-width: 400px;">
        <form>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="example@gmail.com" />
                <span class="icono-input"><i class="bi bi-envelope"></i></span>
            </div>

            <div class="input-group">
                <input type="password" class="form-control" placeholder="123" />
                <span class="icono-input"><i class="bi bi-lock"></i></span>
            </div>

            <div class="input-group">
                <input type="password" class="form-control" placeholder="123" />
                <span class="icono-input"><i class="bi bi-lock"></i></span>
            </div>

            <input type="text" class="form-control" placeholder="Enzo" />
            <input type="text" class="form-control" placeholder="Fernandez" />
            <input type="date" class="form-control" value="2018-12-09" />

            <select class="form-control">
                <option>Celiaquía</option>
                <option>Vegano</option>
                <option>Vegetariano</option>
            </select>

            <select class="form-control">
                <option>Kosher</option>
                <option>Halal</option>
                <option>Ninguno</option>
            </select>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="img.jpg" />
                <span class="icono-input"><i class="bi bi-paperclip"></i></span>
            </div>

            <button type="submit" class="btn btn-success w-100 mt-2">Guardar cambios</button>
        </form>
    </div>
</main>