.footer-container {
    border: solid black 1px;
    margin: 5% 5% 0% 5%;
    display: flex;              
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;    
    padding: 20px;
    background-color: white;
}

.footer-logo img {
    width: 150px;
    padding-right: 10%;           
}

.footer-contact {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;   
}

.footer-icons {
    margin-top: 10px;
}

.social-icon {
    margin-right: 10px;
    font-size: 24px;
}
footer.footer{
    background-color: green;
    padding-top: 1%;
}

.footer-contact a {
    color: #2e7d32;        
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}


.footer-contact a:hover {
    color: #66bb6a;        
}


.social-icon i {
    display: inline-block;         
    font-size: 28px;            
    transition:color 0.2s ease-in-out, transform 0.25s ease-in-out;
}


.social-icon:hover i {
    transform: scale(1.3);         
}

